<div class="container">

  <% @fundraisers.each do |fundraiser| %>
      <div class="row thin-header index-page">
          <!-- card -->
          <div class="col-xs-4">
            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path 'library/crowd.jpg' %>');">
            </div>
          </div>


          <!-- Body of Text -->
          <div class="col-xs-6">
            <h2> <%= fundraiser.title %> (title of fundraiser) </h2>
            <h3> <%= fundraiser.user.charity.name %> (name of charity) </h3>
            <h4> Insert aim of fundraiser here </h4>
          </div>

          <!-- Amount fundraised + friends -->
          <div class="col-xs-2">
            <span class="off-complimentary">£<%= fundraiser.total_raised.ceil %></span> of <span class="off-complimentary">£<%= fundraiser.target.ceil %></span> raised
            <div id="donor_counter"></div>
            <p> Facebook friends etx </p>
            <% if user_signed_in? %>

              <!-- Events hosted by friends -->
              <% fundraiser.events.each do |event| %>

                <% if current_user.friend_uids.include?(event.user.uid) %>
                  Your friend <%= event.user.first_name %> is hosting <%= link_to event.title, fundraiser_event_path(fundraiser, event) %>
                <% end %>

                <!-- Donations made by friends to events -->
                <% event.event_donations.each do |donation| %>
                  <% if current_user.friend_uids.include?(donation.user.uid) %>
                    Your friend <%= donation.user.first_name %> donated to <%= link_to event.title, fundraiser_event_path(fundraiser, event) %> in this fundraiser
                  <% end %>
                <% end %>

              <% end %>

              <!-- Donations made by friends to fundraisers -->
              <% fundraiser.direct_donations.each do |donation| %>
                <% if current_user.friend_uids.include?(donation.user.uid) %>
                  Your friend <%= donation.user.first_name %> donated to this fundraiser
                <% end %>
              <% end %>

            <% end %>
          </div>

        <%= link_to "", fundraiser_path(fundraiser), class: "card-link" %>
      </div>
  <% end %>
</div>


