<div class="container">

  <% @fundraisers.each do |fundraiser| %>
      <div class="row thin-header index-page">
          <!-- card -->
          <div class="col-xs-4">
            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path 'library/crowd.jpg' %>');">
            </div>
          </div>

          <!-- Body of Text -->
          <div class="col-xs-6">
            <h2> <%= fundraiser.title %> (title of fundraiser) </h2>
            <h3> <%= fundraiser.user.charity.name %> (name of charity) </h3>
            <h4> Insert aim of fundraiser here </h4>
          </div>

          <!-- Amount fundraised + friends -->
          <div class="col-xs-2">
            <span class="off-complimentary">£<%= fundraiser.total_raised.ceil %></span> of <span class="off-complimentary">£<%= fundraiser.target.ceil %></span> raised
            <p> Facebook friends etx </p>
          </div>
        <%= link_to "", fundraiser_path(fundraiser), class: "card-link" %>
      </div>
  <% end %>
</div>


