<div class="container">
<div class="row">
  <h1 class="thin-header">
    <%= @fundraiser.title %>
  </h1>
  <div class="col-xs-12 col-md-6">
      <%= image_tag "library/baby.jpg", class: "half-page-image" %>
  </div>
  <div class="col-xs-12 col-md-6">
    <!-- basic information -->
    <div>
      <h2>
        <span class="off-complimentary">£<%= @fundraiser.total_raised.ceil %></span> of <span class="off-complimentary">£<%= @fundraiser.target.ceil %></span> raised so far
      </h2>
      <h2>
      </h2>
      <p><%= @fundraiser.end_date %></p>
      <div id="donor_counter"></div>
    </div>
  </div>
</div>



<!-- direct donations -->
<div>
  <div class="form-box">
  <!-- direct donation form -->
    <p>Donate to fundraiser?</p>
    <%= render 'direct_donations/form', fundraiser: @fundraiser, direct_donation: DirectDonation.new %>
  </div>
  <!-- Prior direct donations -->
  <div>
    <h2>Prior direct donations</h2>
      <% @fundraiser.direct_donations.each do |donation| %>
       <p> <%= donation.amount %> <%= donation.message %> </p>
      <% end %>
  </div>
</div>


<!-- Events for the fundraiser -->
  <div>
  <h2> Events for the fundraiser </h2>
    <% @fundraiser.events.each do |event| %>
      <p> <%= link_to event.title, fundraiser_event_path(@fundraiser, event)  %> has raised <%= event.total_raised %> to date </p>
    <% end %>
    <%= link_to "Create event", new_fundraiser_event_path(@fundraiser), class: "btn btn-primary" %>
  </div>



  <!-- youtube -->
  <h1> Youtube videos!</h1>
    <% @fundraiser.fundraiser_videos.each do |video| %>
      <div>
        <h2> <%=  video.title  %> <%= link_to "edit", edit_fundraiser_fundraiser_video_path(@fundraiser, video) %> <%= link_to "destroy", fundraiser_fundraiser_video_path(@fundraiser, video), method: 'delete', :data => {:confirm => 'Are you sure?'} %> </h2>
        <iframe id="ytplayer" type="text/html" width="640" height="360"
      src="https://www.youtube.com/embed/<%=video.video_url%>?autoplay=0&origin=http://example.com"
      frameborder="0"></iframe>
      </div>
    <% end %>

<!-- If owner of the fundraiser add a video -->
  <% if @fundraiser.user == current_user %>
    <%= link_to "Add a new video", new_fundraiser_fundraiser_video_path(@fundraiser), class: "btn btn-primary" %>
  <% end %>


  <!-- Updates! -->
  <h1> Updates</h1>
    <% @fundraiser.fundraiser_updates.each do |update| %>
      <div>
        <h2> <%= update.title %>  <%= link_to "edit", edit_fundraiser_fundraiser_update_path(@fundraiser, update) %> <%= link_to "destroy", fundraiser_fundraiser_update_path(@fundraiser, update), method: 'delete', :data => {:confirm => 'Are you sure?'} %> </h2>
        <p> <%= update.message %></p>
        <p> <%= link_to "see more of this update", fundraiser_fundraiser_update_path(@fundraiser, update)  %></p>
      </div>
    <% end %>



  <!-- If ownder of the fundraiser add an update -->
    <% if @fundraiser.user == current_user %>
    <%= link_to "Add a new update", new_fundraiser_fundraiser_update_path(@fundraiser), class: "btn btn-primary" %>
  <% end %>


</div>

<%= content_for(:after_js) do %>
  <script>
  $(document).ready(function(){
  $('#donor_counter').goalProgress({
      goalAmount: <%= @fundraiser.target %>,
      currentAmount: <%= @fundraiser.total_raised %>,
      textBefore: '£',
      textAfter: ' raised'
    });
  });
  </script>
<% end %>
