<div class="container">

<!-- basic information -->
<div class="section-seperator">
  <h1>
    <%= @fundraiser.title %>
  </h1>
  <h2>
    Target: <%= @fundraiser.target %>
  </h2>
  <h2>
    Amount raised: <%= @fundraiser.total_raised %>
  </h2>
  <h2>
    <%= @fundraiser.end_date %>
  </h2>
</div>


<!-- direct donations -->
<div>
  <div class="form-box section-seperator">
  <!-- direct donation form -->
    <p>Donate to fundraiser?</p>
    <%= render 'direct_donations/form', fundraiser: @fundraiser, direct_donation: DirectDonation.new %>
  </div>
  <!-- Prior direct donations -->
  <div>
    <h2>Prior direct donations</h2>
      <% @fundraiser.direct_donations.each do |donation| %>
       <p> <%= donation.amount %> <%= donation.message %> </p>
      <% end %>
  </div>
</div>

  <!-- Offline donations -->
    <div class="section-seperator">
      <h2>Offline Donations</h2>
    <!-- total raised (shitty formula I know) -->
      <% fundraiser_offline_donation = 0 %>
      <p> Total raised offline: <% @fundraiser.offline_donations.each do |donation| %>
        <% fundraiser_offline_donation += donation.amount %>
        <% end %>
        <%= fundraiser_offline_donation %>

    <!-- Comments -->
        <p> Prior offline donations</p>
        <% @fundraiser.offline_donations.each do |donation| %>
          <p> <%= donation.amount %> <%= donation.message %>
          <% if @fundraiser.user == current_user %>
            <%= link_to "edit", edit_fundraiser_offline_donation_path(@fundraiser, donation) %>
            <%= link_to "delete", fundraiser_offline_donation_path(@fundraiser, donation), data: { confirm: "Are you sure?" }, method: :delete %>
          <% end %>
          </p>
        <% end %>
      </p>


    <!-- if page owner can create/edit offline donations -->
      <% if @fundraiser.user == current_user %>
        <%= link_to "Record an offline donation", new_fundraiser_offline_donation_path(@fundraiser), class: "btn btn-primary" %>
      <% end %>


    </div>



<!-- Events for the fundraiser -->
  <div class="section-seperator">
  <h2> Events for the fundraiser </h2>
    <% @fundraiser.events.each do |event| %>
      <p> <%= link_to event.title, fundraiser_event_path(@fundraiser, event)  %> has raised <%= event.total_raised %> to date </p>
    <% end %>
    <%= link_to "Create event", new_fundraiser_event_path(@fundraiser), class: "btn btn-primary" %>
  </div>



  <!-- youtube -->
<div class="section-seperator">
  <h1> Youtube videos!</h1>
    <% @fundraiser.fundraiser_videos.each do |video| %>
      <div>
        <h2> <%=  video.title  %> <%= link_to "edit", edit_fundraiser_fundraiser_video_path(@fundraiser, video) %> <%= link_to "destroy", fundraiser_fundraiser_video_path(@fundraiser, video), method: 'delete', :data => {:confirm => 'Are you sure?'} %> </h2>
        <iframe id="ytplayer" type="text/html" width="640" height="360"
      src="https://www.youtube.com/embed/<%=video.video_url%>?autoplay=0&origin=http://example.com"
      frameborder="0"></iframe>
      </div>
    <% end %>


<!-- If owner of the fundraiser add a video -->
  <% if @fundraiser.user == current_user %>
    <%= link_to "Add a new video", new_fundraiser_fundraiser_video_path(@fundraiser), class: "btn btn-primary" %>
  <% end %>
</div>


  <!-- Updates! -->
<div class="section-seperator">
  <h1> Updates</h1>
    <% @fundraiser.fundraiser_updates.each do |update| %>
      <div>
        <h2> <%= update.title %>  <%= link_to "edit", edit_fundraiser_fundraiser_update_path(@fundraiser, update) %> <%= link_to "destroy", fundraiser_fundraiser_update_path(@fundraiser, update), method: 'delete', :data => {:confirm => 'Are you sure?'} %> </h2>
        <p> <%= update.message %></p>
        <p> <%= link_to "see more of this update", fundraiser_fundraiser_update_path(@fundraiser, update)  %></p>
      </div>
    <% end %>



  <!-- If ownder of the fundraiser add an update -->
    <% if @fundraiser.user == current_user %>
    <%= link_to "Add a new update", new_fundraiser_fundraiser_update_path(@fundraiser), class: "btn btn-primary" %>
  <% end %>
</div>


</div>
