<div id ="home-navbar">

  <!-- notifications tab -->
  <% if user_signed_in? %>
    <% if current_user.admin == true && User.where(is_charity: true, verified: false).count > 0 %>
      <div
        <p> There are <%= User.where(is_charity: true, verified: false).count %> <%= link_to "users to verify", rails_admin_path%> </p>
      </div>
    <% end %>
  <% end %>

    <!-- Create your charity/manage your charity -->
  <% if user_signed_in? %>
    <% if current_user.is_charity && current_user.verified && current_user.charity.nil? %>
      <div>
        <p> <%= link_to "Create Your Charity", new_charity_path %> </p>
      </div>
    <% elsif current_user.is_charity && current_user.verified  %>
      <div>
        <p> <%= link_to "Manage Your Charity", charity_path(current_user.charity) %></p>
      </div>
    <% end %>
  <% end %>



  <div id="home-nav-right">

    <div>
      <% if !user_signed_in? %>
        <%= link_to t(".sign_in", default: "Sign up as a Charity"), new_user_registration_path(is_charity: true), class: "home-sign-up-btn btn text-center" %>
      <% elsif current_user.is_charity? && current_user.verified? %>
        <%= link_to "Create a fundraiser", new_fundraiser_path, class: "sign-up-btn btn text-center"%>
        <%= link_to "log out", destroy_user_session_path, method: :delete, class: "sign-up-btn btn text-center" %>
      <% else %>
        <%= link_to "log out", destroy_user_session_path, method: :delete, class: "sign-up-btn btn text-center" %>
      <% end %>
    </div>

    <div>

      <% if !user_signed_in? %>
        <%= link_to t(".sign_in", default: "Sign up as a User"), new_user_registration_path(is_charity: false), class: "sign-up-btn btn text-center" %>
      <% else %>

      <% end %>
    </div>

    <div>
      <% if !user_signed_in? %>
        <%= link_to t(".sign_in", default: "Log in"), new_user_session_path, class: "sign-up-btn btn text-center" %>
      <% else %>

      <% end %>
    </div>
  </div>

</div>

<% content_for(:after_js) do %>
  <script>
    var mywindow = $(window);
    var mypos = mywindow.scrollTop();
    mywindow.scroll(function() {
      if(mywindow.scrollTop() > mypos)
      {
          $('#home-navbar').fadeOut();
      }
      else
      {
          $('#home-navbar').fadeIn();
      }
      mypos = mywindow.scrollTop();
   });
  </script>
<% end %>
