<div id ="home-navbar">

  <div id="home-nav-left">

    <!-- charities to be able to see other charities & ongoing fundraisers on left of screen -->
    <% if user_signed_in? %>
      <% if current_user.is_charity%>
        <%= link_to "See our Affiliated Charities", charities_path, class: "home-sign-up-btn btn text-center" %>
        <%= link_to "See Fundraisers", fundraisers_path, class: "home-sign-up-btn btn text-center" %>
      <% end %>
    <% end %>

  </div>


  <!-- notifications tab for signed in admin -->
  <p>
    <% if user_signed_in? && current_user.admin == true && User.where(is_charity: true, verified: false).count > 0 %>
        <%= link_to "There are #{User.where(is_charity: true, verified: false).count }users to verify", rails_admin_path, class: "home-sign-up-btn btn text-center"%>
    <% end %>
  </p>

  <div id="home-nav-right">

      <!-- if signed in -->
  <% if user_signed_in? %>
      <!-- non-charity-user to see affiliated charities & fundraisers -->
    <% if !current_user.is_charity  %>
      <%= link_to "See our Affiliated Charities", charities_path, class: "home-sign-up-btn btn text-center" %>
      <%= link_to "See Fundraisers", fundraisers_path, class: "home-sign-up-btn btn text-center" %>
    <% end %>

  <!-- Charity user to create your charity/manage your charity -->
    <% if current_user.is_charity && current_user.verified && current_user.charity.nil? %>
        <%= link_to "Create Your Charity", new_charity_path, class: "home-sign-up-btn btn text-center" %>
    <% elsif current_user.is_charity && current_user.verified  %>
      <%= link_to "Manage Your Charity", charity_path(current_user.charity), class: "home-sign-up-btn btn text-center" %>
      <%= link_to "Create a fundraiser", new_fundraiser_path, class: "home-sign-up-btn btn text-center"%>
    <% end %>

  <!-- sign out -->
      <%= link_to "log out", destroy_user_session_path, method: :delete, class: "home-sign-up-btn btn text-center" %>
  <% end %>



<!-- not signed in to sign up (as a user) or log in -->
    <% if !user_signed_in? %>
      <%= link_to t(".sign_in", default: "Sign up"), new_user_registration_path(is_charity: false), class: "home-sign-up-btn btn text-center" %>
      <%= link_to t(".sign_in", default: "Log in"), new_user_session_path, class: "home-sign-up-btn btn text-center" %>
    <% end %>

  <!-- end of home-nav-right -->
  </div>

<!-- end of navbar -->
</div>

<% content_for(:after_js) do %>
  <script>
    var mywindow = $(window);
    var mypos = mywindow.scrollTop();
    mywindow.scroll(function() {
      if <% !user_signed_in? %> {
        if(mywindow.scrollTop() > mypos)
        {
            $('#home-navbar').fadeOut();
        }
        else
        {
            $('#home-navbar').fadeIn();
        }
        mypos = mywindow.scrollTop();
      }
   });
  </script>
<% end %>
