<div class="container">

<!-- link back to the fundraiser -->
  <%= link_to "back to fundraiser", fundraiser_path(@event.fundraiser) %>

  <!-- Delete button is only shown if no donations are present & current user is event owner -->
  <% if @event.event_donations.empty? && @event.user == current_user %>
    <%= link_to "Delete", fundraiser_event_event_destroy_path(@fundraiser, @event), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger" %>
  <% end %>


  <!-- basic information -->
  <div class="row" style="border-bottom: 1px solid #800020; padding-bottom: 30px;">
    <h1 class="thin-header">

    <h1>
      <%= @event.title %>
    </h1>

    <% if user_signed_in? && current_user.friend_uids.include?(@event.user.uid) %>
      <h2>
        <%= "hosted by your friend #{@event.user.first_name}" %>
      </h2>
    <% end %>
     <div class="col-xs-12 col-md-6" style="padding-top: 30px">
        <%= image_tag "library/baby.jpg", class: "half-page-image" %>
    </div>

  <div class="col-xs-12 col-md-6">
      <!-- basic information -->
      <div>
        <h2>
          <span class="off-complimentary">£<%= @event.total_raised.ceil %></span> of <span class="off-complimentary">£<%= @event.target.ceil %></span> raised so far
        </h2>
        <h2>
        </h2>
        <% unless @event.start_date.nil? %>
        <h5>Starting <%= @event.start_date.strftime("%e %B %Y") %></h5>
        <% end %>
        <div id="donor_counter"></div>
        <div class="text-center">
         <button type="button" class="big-button btn btn-lg hvr-grow" data-toggle="modal" data-target="#donateModal">Donate</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="donateModal" tabindex="-1" role="dialog" aria-labelledby="donateModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="donateModalLabel">Donate</h4>
      </div>
      <!-- direct donations -->
      <div class="modal-body">
        <%= render 'event_donations/form', fundraiser: @fundraiser, event: @event, event_donation: EventDonation.new %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


  <!-- Prior event donations -->
  <div class="section-seperator">
    <h2>Prior event donations</h2>
    <% @event.event_donations.each do |donation| %>
      <p> <%= donation.amount %> <%= donation.message %> from <%= user_signed_in? && current_user.friend_uids.include?(donation.user.uid) ? "your friend #{donation.user.first_name}" : donation.user.email %> </p>
    <% end %>
  </div>


    <!-- Offline donations -->
    <div class="section-seperator">
      <h2>Offline Donations</h2>
    <!-- total raised (shitty formula I know) -->
      <% event_offline_donation = 0 %>
      <p> Total raised offline: <% @event.offline_donations.each do |donation| %>
        <% event_offline_donation += donation.amount %>
        <% end %>
        <%= event_offline_donation %>

    <!-- offline donation comments -->
        <p> Prior offline donations</p>
        <% @event.offline_donations.each do |donation| %>
          <p> <%= donation.amount %> <%= donation.message %>
          <% if @event.user == current_user %>
            <%= link_to "edit", edit_fundraiser_event_offline_donation_path(@fundraiser, @event, donation) %>
            <%= link_to "delete", fundraiser_event_offline_donation_path(@fundraiser, @event, donation), data: { confirm: "Are you sure?" }, method: :delete %>
          <% end %>
          </p>
        <% end %>
      </p>

    <!-- if page owner can create/edit offline donations -->
      <% if @event.user == current_user %>
        <%= link_to "Record an offline donation", new_fundraiser_event_offline_donation_path(@fundraiser, @event), class: "btn btn-primary" %>
      <% end %>


    </div>


    <!-- youtube -->
<div class="section-seperator">
  <h1> Youtube videos!</h1>
    <% @event.event_videos.each do |video| %>
      <div>
       <h2> <%=  video.title  %> <%= link_to "edit", edit_fundraiser_event_event_video_path(@fundraiser, @event, video) %> <%= link_to "destroy", fundraiser_event_event_video_path(@fundraiser, @event, video), method: 'delete', :data => {:confirm => 'Are you sure?'} %> </h2>
        <iframe id="ytplayer" type="text/html" width="640" height="360"
      src="https://www.youtube.com/embed/<%=video.video_url%>?autoplay=0&origin=http://example.com"
      frameborder="0"></iframe>
      </div>
      <% end %>

<!-- If owner of the site add a video -->
  <% if @event.user == current_user %>
    <%= link_to "Add a new video", new_fundraiser_event_event_video_path(@fundraiser, @event), class: "btn btn-primary" %>
  <% end %>
</div>


  <!-- Updates! -->
<div class="section-seperator">
  <h1> Updates</h1>
    <% @event.event_updates.each do |update| %>
      <div>
        <h2> <%= update.title %>  <%= link_to "edit", edit_fundraiser_event_event_update_path(@fundraiser, @event, update) %> <%= link_to "destroy", fundraiser_event_event_update_path(@fundraiser, @event, update), method: 'delete', :data => {:confirm => 'Are you sure?'} %> </h2>
        <p> <%= update.message %></p>
        <p> <%= link_to "see more of this update", fundraiser_event_event_update_path(@fundraiser, @event, update)  %></p>
      </div>
    <% end %>


  <!-- If ownder of the event add an update -->
    <% if @event.user == current_user %>
    <%= link_to "Add a new update", new_fundraiser_event_event_update_path(@fundraiser, @event), class: "btn btn-primary" %>
  <% end %>
</div>

</div>


<%= content_for(:after_js) do %>
  <script>
    $(document).ready(function(){
      $('#donor_counter').goalProgress({
        goalAmount: <%= @event.target %>,
        currentAmount: <%= @event.total_raised %>,
        textBefore: '£',
        textAfter: ' raised'
      });
    });
  </script>
<% end %>

