<div class="container">

<!-- link back to the fundraiser -->
  <%= link_to "back to fundraiser", fundraiser_path(@event.fundraiser) %>

  <!-- Delete button is only shown if no donations are present & current user is event owner -->
  <% if @event.event_donations.empty? && @event.user == current_user %>
    <%= link_to "Delete", fundraiser_event_event_destroy_path(@fundraiser, @event), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger" %>
  <% end %>


  <!-- basic information -->
  <div class="section-seperator">
    <h2>   <%= @event.title %> -- <%= @event.total_raised %> raised of <%= @event.target %> target </h2>
  </div>

  <!-- event donations; only shown if event is active -->
  <div class="section-seperator">
    <div class="form-box">
      <% if @event.active %>
        <p>Donate to fundraiser through event:</p>
        <%= render 'event_donations/form', fundraiser: @fundraiser, event: @event, event_donation: EventDonation.new %>
    </div>

    <% else %>
      <h3>Donations closed sorry</h3>
    <% end %>
  </div>

  <!-- Prior event donations -->
  <div class="section-seperator">
    <h2>Prior event donations</h2>
    <% @event.event_donations.each do |donation| %>
      <p> <%= donation.amount %> <%= donation.message %> </p>
    <% end %>
  </div>

    <!-- youtube -->
<div class="section-seperator">
  <h1> Youtube videos!</h1>
    <% @event.event_videos.each do |video| %>
      <div>
       <h2> <%=  video.title  %> <%= link_to "edit", edit_fundraiser_event_event_video_path(@fundraiser, @event, video) %> <%= link_to "destroy", fundraiser_event_event_video_path(@fundraiser, @event, video), method: 'delete', :data => {:confirm => 'Are you sure?'} %> </h2>
        <iframe id="ytplayer" type="text/html" width="640" height="360"
      src="https://www.youtube.com/embed/<%=video.video_url%>?autoplay=0&origin=http://example.com"
      frameborder="0"></iframe>
      </div>
      <% end %>

<!-- If owner of the site add a video -->
  <% if @event.user == current_user %>
    <%= link_to "Add a new video", new_fundraiser_event_event_video_path(@fundraiser, @event), class: "btn btn-primary" %>
  <% end %>
</div>


  <!-- Updates! -->
<div class="section-seperator">
  <h1> Updates</h1>
    <% @event.event_updates.each do |update| %>
      <div>
        <h2> <%= update.title %>  <%= link_to "edit", edit_fundraiser_event_event_update_path(@fundraiser, @event, update) %> <%= link_to "destroy", fundraiser_event_event_update_path(@fundraiser, @event, update), method: 'delete', :data => {:confirm => 'Are you sure?'} %> </h2>
        <p> <%= update.message %></p>
        <p> <%= link_to "see more of this update", fundraiser_event_event_update_path(@fundraiser, @event, update)  %></p>
      </div>
    <% end %>


  <!-- If ownder of the event add an update -->
    <% if @event.user == current_user %>
    <%= link_to "Add a new update", new_fundraiser_event_event_update_path(@fundraiser, @event), class: "btn btn-primary" %>
  <% end %>
</div>

</div>
