<!-- optional parallax panels -->
<div class="panel-overlay header">
  <div class="panel-inner">
  <!-- end of parallax panels -->

    <!-- large photo banner with text -->
    <div id="home-banner" style="background-image: linear-gradient(-225deg, rgba(0, 0, 0, 0.075) 0%, rgba(0, 0, 0, 0.5)), url('<%= image_path 'library/crowd.jpg' %>'); background-size: cover; background-position: center; background-attachment: fixed;">
      <div class="text-center" id="home-banner-caption">

        <h2>TRANSPARENT CHARITY. DELIVERABLE PROJECTS.</h2>
          <%= link_to "Go", fundraisers_path, class: "btn btn-primary btn-lg top-margin" %>


          <div class="flexbox-space-around">
            <div class="card cardA">
              <h2>Option A</h2>
            </div>

            <div class="card cardA">
              <h2>Option B</h2>
            </div>

            <div class="card cardA">
              <h2>Option C</h2>
            </div>
          </div>


      </div>

    </div>

    <!-- dark wrapper with mission statement  -->
      <div class="black-wrapper">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
              <div class="row">

                <!-- item 1 -->
                <div class="col-xs-12 col-sm-4">
                  <div class="flexbox-column icon-info">
                    <div class="off-brand-background">
                      <%= image_tag "white-hand.png" %>
                    </div>
                    <p><strong>Title A</strong></p>
                    <p class="text-center">Text A</p>
                  </div>
                </div>
                <!-- item 2 -->
                <div class="col-xs-12 col-sm-4">
                  <div class="flexbox-column icon-info">
                    <div class="off-brand-background">
                      <%= image_tag "white-money.png" %>
                    </div>
                    <p><strong>Title B</strong></p>
                    <p class="text-center">Text B</p>
                  </div>
                </div>
                <!-- item 3 -->
                <div class="col-xs-12 col-sm-4">
                  <div class="flexbox-column icon-info">
                    <div class="off-brand-background">
                      <%= image_tag "white-donation.png" %>
                    </div>
                     <p><strong>Title C</strong></p>
                     <p class="text-center">Text C</p>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>

  </div>
</div>



