<!-- optional parallax panels -->
<div class="panel-overlay header">
  <div class="panel-inner">
  <!-- end of parallax panels -->

    <!-- large photo banner with text -->
    <div id="home-banner" style="background-image: linear-gradient(-225deg, rgba(0, 0, 0, 0.075) 0%, rgba(0, 0, 0, 0.5)), url('<%= image_path 'library/Tom.jpeg' %>'); background-size: cover; background-position: center; background-attachment: fixed;">
      <div class="text-center" id="home-banner-caption">

        <h2>TRANSPARENT CHARITY. DELIVERABLE PROJECTS.</h2>

          <div class="flexbox-space-around to-be-hidden ">
            <div class="card cardA">
              <h2>People</h2>
              <p class="card-description">
              Text Description for People
              </p>
            </div>

            <div class="card cardB hidden">
              <h2>Donate Money</h2>
              <p class="card-description">
              This is where you donate money
              </p>
            </div>

            <div class="card cardA">
              <h2>Planet</h2>
              <p class="card-description">
              Text Description for Planet
              </p>
            </div>

            <div class="card cardB hidden">
              <h2>Donate Time</h2>
              <p class="card-description">
              This is where you donate Time
              </p>
            </div>

            <div class="card cardA checked">
              <h2>Dignity</h2>
              <p class="card-description">
              Text Description for Dignity
              </p>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-offset-5 col-xs-2 btn-hide text-center">
              <p>Go</p>
            </div>
              <%= link_to "Go", fundraisers_path, class: "btn btn-primary btn-lg top-margin text-center btn-hidden hidden" %>
              <p class="hidden btn-hidden reselect-selection"> I want to re-do my selection!</p>
          </div>


      </div>

    </div>

    <!-- dark wrapper with mission statement  -->
      <div class="black-wrapper hidden">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
              <div class="row">

                <!-- item 1 -->
                <div class="col-xs-12 col-sm-4">
                  <div class="flexbox-column icon-info">
                    <div class="off-brand-background">
                      <%= image_tag "white-hand.png" %>
                    </div>
                    <p><strong>Title A</strong></p>
                    <p class="text-center">Text A</p>
                  </div>
                </div>
                <!-- item 2 -->
                <div class="col-xs-12 col-sm-4">
                  <div class="flexbox-column icon-info">
                    <div class="off-brand-background">
                      <%= image_tag "white-money.png" %>
                    </div>
                    <p><strong>Title B</strong></p>
                    <p class="text-center">Text B</p>
                  </div>
                </div>
                <!-- item 3 -->
                <div class="col-xs-12 col-sm-4">
                  <div class="flexbox-column icon-info">
                    <div class="off-brand-background">
                      <%= image_tag "white-donation.png" %>
                    </div>
                     <p><strong>Title C</strong></p>
                     <p class="text-center">Text C</p>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>

  </div>
</div>

<%= content_for(:after_js) do %>
  <script>

$("div.cardA").click(function() {
  $( this ).toggleClass( "checked" );
});

$("div.cardB").click(function() {
  $( this ).toggleClass( "checked" );
});

$("div.btn-hide").click(function() {
  $("div.cardA").addClass("hidden");
  $(this).addClass("hidden");
  $("div.cardB").removeClass("hidden")
  $(".btn-hidden").removeClass("hidden");
});

$(".reselect-selection").click(function() {
  $("div.cardB").addClass("hidden");
  $("div.cardA").removeClass("hidden");
  $("div.btn-hide").removeClass("hidden");
  $(".btn-hidden").addClass("hidden");
  $(this).addClass("hidden");
});

  </script>

<% end %>



