<div class="donation_form">
<%= simple_form_for @charity do |f| %>
  <%= f.input :name %>
  <%= f.input :mission %>
  <%= f.input :bio %>
  <%= f.input :charity_number %>
  <div class="text-center">
  <%= f.submit class: "btn-primary btn btn-lg" %>
  </div>
<% end %>
</div>
