<div class="container">

  <% @charities.each do |charity| %>
    <div class="row">
      <div class="col-xs-12">
        <div class="flexbox-space-btwn index-page">
          <div class="small-img">
           <%= cl_image_tag charity.photos.first.path %>
          </div>
          <div class="left-text" style="min-width: 30vw">
            <h2 class="brand-color"  style="font-weight: lighter"> <span class="underlined"><%= charity.name %></span>  </h2>
            <h3> <%= charity.mission.truncate_words(8) %> </h3>
            <p> <%= charity.bio.truncate_words(5) %> </p>
          </div>
          <div class="left-text">
            <h3> Ongoing fundraisers for this charity</h3>
              <% charity.user.fundraisers.each do |fundraiser| %>
              <%= link_to fundraiser.title, fundraiser_path(fundraiser) %>
            <% end %>
          </div>
          <%= link_to "", charity_path(charity), class: "card-link" %>
        </div>
      </div>

      <!-- card -->
     <!--  <div class="col-xs-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%#= image_path 'library/crowd.jpg' %>');">
        </div>
      </div> -->

      <!-- Body of Text -->
      <!-- <div class="col-xs-6">
        <h2> <%#= charity.name %> (name of charity) </h2>
        <h3> <%#= charity.mission.truncate_words(8) %> (mission of charity) </h3>
        <h4> <%#= charity.bio.truncate_words(5) %> (bio of charity) </h4>
      </div> -->

      <!-- <div class="col-xs-2">
        <h4> Fundraisers being ran for this charity!</h4>
          <%# charity.user.fundraisers.each do |fundraiser| %>
          <%#= link_to fundraiser.title, fundraiser_path(fundraiser) %>
        <%# end %>
      </div> -->





      <%#= link_to "", charity_path(charity), class: "card-link" %>
    </div>
  <% end %>

</div>

