<div id="home-banner" style="background-image: linear-gradient(-225deg, rgba(0, 0, 0, 0.075) 0%, rgba(0, 0, 0, 0.5)), url('<%= cl_image_path @charity.photos.first.path %>'); background-size: cover; background-position: center; background-attachment: fixed;">
  <div class="text-center" >
    <h1> <%= @charity.name  %> is making a difference today</h1>
  </div>
</div>





<!-- basic charity information -->
  <% if @charity.user == current_user %>
    <%= link_to "edit", edit_charity_path %>
  <% end %>
</h2>

<!-- Money raised -->
<h3> <%= @charity.total_raised %> raised from <%= @charity.user.fundraisers.count %> fundraiser(s) </h3>

<!-- Bio/Mission -->
<p> Bio: <%=  @charity.bio  %> </p>
<p> Mission: <%= @charity.mission %>  </p>


<!-- Photos -->
<% @charity.photos.each do |photo| %>
  <%= cl_image_tag photo.path, width: 300, crop: :fill %>
<% end %>

<!-- list of charity fundraisers -->
<% @charity.user.fundraisers.each do |fundraiser| %>
  <%= link_to fundraiser.title, fundraiser_path(fundraiser) %>
<% end %>

