<h2><%= @charity.name %>
  <% if @charity.user == current_user %>
    <%= link_to "edit", edit_charity_path %>
  <% end %>
</h2>

<h3> <%= @charity.total_raised %> raised from <%= @charity.user.fundraisers.count %> fundraiser(s) </h3>

<p> Bio: <%=  @charity.bio  %> </p>
<p> Mission: <%= @charity.mission %>  </p>

<% @charity.photos.each do |photo| %>
  <%= cl_image_tag photo.path, width: 300, height: 200, crop: :fill %>
<% end %>
